{% extends 'base.html' %}

{% block title %}Backlog{% endblock %}

{% block body %}
<div class="container mx-auto p-8">
    <div id="pageTop">
        <div class="grid grid-cols-2 gap-2">
            <div>
                <p class="text-2xl p-4">Active Sprint: 10/10/2020 - 30/10/2020</p>
                
                <div class="avatar-group -space-x-6">
                    <div class="avatar">
                        <div class="w-9">
                            <img src="https://api.lorem.space/image/face?hash=53273" />
                        </div>
                    </div>
                    <div class="avatar">
                        <div class="w-9">
                            <img src="https://api.lorem.space/image/face?hash=91831" />
                        </div>
                    </div>
                    <div class="avatar">
                        <div class="w-9">
                            <img src="https://api.lorem.space/image/face?hash=27312" />
                        </div>
                    </div>
                    <div class="avatar">
                        <div class="w-9">
                            <img src="https://api.lorem.space/image/face?hash=26448" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="place-self-end items-center text-right inline-block align-middle">
                <button class="p-2 bg-secondary rounded-lg transition ease-in-out delay-10 hover:-translate-y-1 hover:scale-110 hover:bg-primary duration-50">
                    Close Sprint
                </button>
                <p class="m-3">Total point: <span class="w-auto h-auto py-1 px-2 rounded bg-info py-auto my-auto text-center inline-block align-middle">40</span></p>
            </div>
        </div>

        <div class="p-4 grid" id="currentSprint">

            <div class="p-2 mb-1 base-100 rounded border-solid border-2 border-primary my-0" id="card">
                <div class="text-neutral grid grid-cols-2">
                    <div class="">
                        <p class="w-auto inline-block align-middle">Nome della task</p>
                    </div>
                    <div class="flex justify-end">
                        <span class="w-auto h-auto py-1 px-2 rounded bg-secondary py-auto my-auto text-center inline-block align-middle">EPICA</span>
                        <span class="mx-2 my-auto inline-block align-middle">idTask</span>
                        <img class="mx-2 flex justify-end inline-block align-middle h-8 w-8 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""/>
                        <span class="w-auto h-auto py-1 px-2 rounded bg-info py-auto my-auto text-center inline-block align-middle">4</span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div id="pageBottom">
        <p class="text-2xl p-4">Backlog:</p>
        <div class="p-4 bg-sky-500/100" id="currentSprint">
            <div id="card">
                
            </div>
        </div>
    </div>
</div>
{% endblock %} 