<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
    <title>{% block title %}{% endblock %} - Gira</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Style -->
    <link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

    <!-- CDN Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- CDN DaisyUI-->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.14.3/dist/full.css" rel="stylesheet" type="text/css" />
</head>
<body>

    {% if active_page != "login" %}
    <!-- Sidebar -->
    <div class="drawer drawer-mobile">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col items-center justify-center">
            <!-- Page content -->
            <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
                Open Sidebar
            </label>
            {% block body %}{% endblock %}
        </div> 
        <div class="drawer-side">
            <label for="my-drawer-2" class="drawer-overlay"></label> 
            <ul class="menu p-4 overflow-y-auto w-80 bg-secondary">
                <!-- Sidebar content -->
                <li><a>Sidebar Item 1</a></li>
                <li><a>Sidebar Item 2</a></li>
            </ul>
        </div>
     </div>

    {% else %}
        {% block content %}{% endblock %}
        
    {% endif %}

     <!-- Footer -->
    <footer class="footer footer-center p-10 bg-primary text-primary-content">
        <div>
          <img src="static/img/logo.png" alt="Logo" class="w-16">
          <p class="font-bold">Gira, just another project management tool</p>
          <p>Developed by <a href="https://github.com/zanottipaolo" target="_blank" rel="noopener noreferrer" class="link">Paolo Zanotti</a>, <a href="https://github.com/Jfkmdd" target="_blank" rel="noopener noreferrer" class="link">Federico De Duro</a> && <a href="https://github.com/matteosoldini" target="_blank" rel="noopener noreferrer" class="link">Matteo Soldini</a> | <span id="year"></span></p>
          <p>I'm Open Source, check out my code on <a href="https://github.com/zanottipaolo/DB1-Project" target="_blank" rel="noopener noreferrer" class="link">Github</a></p>
        </div> 
      </footer>

    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
</html>