{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="w-full mt-10">
        <h1 class="title-font text-center sm:text-4xl text-3xl mb-4">Ciao {{ current_user.name }}</h1>
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-error shadow-lg mb-6 w-96 text-center mx-auto">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                <span>{{ messages[0] }}</span>
              </div>
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" id="updateUser" action="profile" class="w-96 text-center m-auto">

            <!-- id user -->
            <input type="hidden" value="{{ current_user.id }}" id="current_id" name="id" class="form-control block w-full px-4 py-2 text-lg font-normal bg-clip-padding border border-solid rounded transition ease-in-out m-0 focus:border-teal-500 focus:outline-none" />


            <!-- Name input -->
            <div class="mb-6">
                <input type="text" value="{{ current_user.name }}" placeholder="Name" id="current_name" name="name" class="form-control block w-full px-4 py-2 text-lg font-normal bg-clip-padding border border-solid rounded transition ease-in-out m-0 focus:border-teal-500 focus:outline-none" required />
            </div>

            <!-- Surname input -->
            <div class="mb-6">
                <input type="text" value="{{ current_user.surname }}" placeholder="Surname" id="current_surname" name="surname" class="form-control block w-full px-4 py-2 text-lg font-normal bg-clip-padding border border-solid rounded transition ease-in-out m-0 focus:border-teal-500 focus:outline-none" required />
            </div>

            <!-- Email input -->
            <div class="mb-6">
                <input type="email" value="{{ current_user.email }}" placeholder="Email address" id="current_email" name="email" class="form-control block w-full px-4 py-2 text-lg font-normal bg-clip-padding border border-solid rounded transition ease-in-out m-0 focus:border-teal-500 focus:outline-none" required />
            </div>

            <!-- Password input -->
            <!-- <div class="mb-6">
                <input type="password" value="" placeholder="Password" id="current_password" name="password" class="form-control block w-full px-4 py-2 text-lg font-normal bg-clip-padding border border-solid rounded transition ease-in-out m-0 focus:border-teal-500 focus:outline-none" required />
            </div> -->

            <!-- Check role -->
            <div class="form-control mb-6">
                <label class="label cursor-pointer">
                <span class="label-text text-lg font-normal">Manager?</span>
                <input type="checkbox" value="{{ current_user.manager }}" class="toggle" id="current_manager" name="manager"/>
                </label>
            </div>

            <div class="flex w-full justify-around">
                <!-- Update button -->
                <button type="submit" name="updateUser" class="btn btn-warning text-warning hover:text-base-100 w-1/3 uppercase rounded">
                    <i class="fa-solid fa-pencil text-inherit"></i>
                </button>

                <!-- Delete button -->
                <button type="submit" name="deleteUser" class="btn btn-error text-error hover:text-base-100 w-1/3 uppercase rounded">
                    <i class="fa-solid fa-x text-inherit"></i>
                </button>
            </div>

        </form>
    </div>
{% endblock %}
