{% extends 'base.html' %}

{% block title %}Roadmap{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<h1 class="title-font text-center sm:text-4xl text-3xl mb-4 mt-5">Roadmap</h1>

<div class="overflow-x-auto w-full">
    <table class="table w-full m-4">
        <!-- head -->
        <thead>
            <tr>
                <th>
                    <label>
                        Sprint
                    </label>
                </th>
                {% for i in range(days) %}
                    <th>{{ min.start_date + i*plus_one_day + plus_one_day}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for sprint in sprints %}
            <tr>
                <th>
                    <label>
                        {{ sprint.name }}
                    </label>
                </th>

                {% for i in range(days) %}
                <td class="p-0">
                    {% if (sprint.start_date <= min.start_date + i*plus_one_day + plus_one_day) and (sprint.end_date >= min.start_date + i*plus_one_day + plus_one_day) %}
                        {% if sprint.end_date ==  min.start_date + i*plus_one_day + plus_one_day%}
                            <button class="btn-primary w-full rounded-r-lg">✅</button>
                        {% else %}
                            {% if loop.first %}
                                <button class="btn-primary w-full rounded-l-lg">✏️</button>
                            {% else %}
                                <button class="btn-primary w-full rounded-l-r-lg">✏️</button>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>

      <!-- foot -->
      <tfoot>
        <tr>
            <th>
                <label>
                    Sprint
                </label>
            </th>
            {% for i in range(days) %}
                <th>{{ min.start_date + i*plus_one_day + plus_one_day}}</th>
            {% endfor %}
        </tr>
      </tfoot>
      
    </table>
  </div>

{% endblock %}