{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{% block content %}
<section class="min-h-screen">
  <div class="container px-6 py-12 h-full">
    <div class="flex justify-center items-center flex-wrap h-full g-6">
      <div class="md:w-8/12 lg:w-6/12 mb-12 md:mb-0">
        <img src="static/img/wallpaper_login.svg" class="w-full" alt="Login image" />
      </div>
      <div class="md:w-8/12 lg:w-5/12 lg:ml-20">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-error shadow-lg mb-6">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
              <span>{{ messages[0] }}. Go to <a href="{{ url_for('login') }}" class="link">login page</a>.</span>
            </div>
          </div>
        {% endif %}
        {% endwith %}

        <h1 class="title-font text-center sm:text-4xl text-3xl mb-4">Sign up to Gira</h1>
        
        <form method="POST" id="createUser">

          <!-- Name input -->
          <div class="mb-6">
            <input type="text" placeholder="Name" name="name" class="form-control block w-full px-4 py-2 text-lg font-normal bg-clip-padding border border-solid rounded transition ease-in-out m-0 focus:border-teal-500 focus:outline-none" required />
          </div>

          <!-- Surname input -->
          <div class="mb-6">
            <input type="text" placeholder="Surname" name="surname" class="form-control block w-full px-4 py-2 text-lg font-normal bg-clip-padding border border-solid rounded transition ease-in-out m-0 focus:border-teal-500 focus:outline-none" required />
          </div>

          <!-- Email input -->
          <div class="mb-6">
            <input type="email" placeholder="Email address" name="email" class="form-control block w-full px-4 py-2 text-lg font-normal bg-clip-padding border border-solid rounded transition ease-in-out m-0 focus:border-teal-500 focus:outline-none" required />
          </div>

          <!-- Password input -->
          <div class="mb-6">
            <input type="password" placeholder="Password" name="password" class="form-control block w-full px-4 py-2 text-lg font-normal bg-clip-padding border border-solid rounded transition ease-in-out m-0 focus:border-teal-500 focus:outline-none" required />
          </div>

          <!-- Check role -->
          <div class="form-control mb-6">
            <label class="label cursor-pointer">
              <span class="label-text text-lg font-normal">Manager?</span>
              <input type="checkbox" class="toggle" name="manager" />
            </label>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary bg-teal-500 border-teal-500 inline-block px-7 py-3 font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-teal-700 hover:shadow-lg focus:bg-teal-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-teal-700 active:shadow-lg transition duration-300 ease-in-out w-full">
            Sign up
          </button>

          <div class="divider">OR</div>

          <!-- Login button -->
          <a href="{{ url_for('login')}}" class="btn btn-primary bg-teal-500 border-teal-500 inline-block px-7 py-3 font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-teal-700 hover:shadow-lg focus:bg-teal-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-teal-700 active:shadow-lg transition duration-300 ease-in-out w-full">
            Sign in
          </a>

        </form>
        
      </div>
    </div>
  </div>
</section>
{% endblock %}