{% extends 'base.html' %}

{% block title %}Sprint{% endblock %}

{% block body %}

{% if current_sprint != None %}
<h1 class="font-bold leading-tight text-4xl mt-6 ml-6">Active Sprint: <span class="italic">{{ current_sprint.name }}</span></h1>

<!-- Task 1 -->
<h2 class="font-medium leading-tight text-2xl mt-6 ml-6 underline">Task 1</h2>
<div class="flex flex-col w-5/6 lg:w-full lg:flex-row m-6 items-center mx-auto">

    <!-- TODO -->
    <div id="task1-todo" ondragover="onDragOver(event);" ondrop="onDrop(event, this);" class="grid w-full lg:w-1/3 h-64 bg-base-300 rounded-box place-items-center m-4 overflow-auto" >
        
        <div id="task1-sub1" draggable="true" ondragstart="onDragStart(event);" class="bg-base-100 p-2 m-5 rounded-box cursor-pointer w-4/5 text-center whitespace-nowrap">
            Subtask 1
        </div> 

        <div id="task1-sub2" draggable="true" ondragstart="onDragStart(event);" class="bg-base-100 p-2 m-5 rounded-box cursor-pointer w-4/5 text-center whitespace-nowrap">
            Subtask 2
        </div>  

        <div id="task1-sub3" draggable="true" ondragstart="onDragStart(event);" class="bg-base-100 p-2 m-5 rounded-box cursor-pointer w-4/5 text-center whitespace-nowrap">
            Subtask 3
        </div> 

        <div id="task1-sub4" draggable="true" ondragstart="onDragStart(event);" class="bg-base-100 p-2 m-5 rounded-box cursor-pointer w-4/5 text-center whitespace-nowrap">
            Subtask 4
        </div>
        
    </div>

    <!-- IN PROGRESS -->
    <div id="task1-progress" ondragover="onDragOver(event);" ondrop="onDrop(event, this);" class="grid w-full lg:w-1/3 h-64 bg-base-300 rounded-box place-items-center m-4 overflow-auto" >
    </div>

    <!-- DONE -->
    <div id="task1-done" ondragover="onDragOver(event);" ondrop="onDrop(event, this);" class="grid w-full lg:w-1/3 h-64 bg-base-300 rounded-box place-items-center m-4 overflow-auto">
    </div>

</div>

<div class="divider"></div>

<!-- Task 2 -->
<h2 class="font-medium leading-tight text-2xl mt-6 ml-6 underline">Task 2</h2>
<div class="flex flex-col w-5/6 lg:w-full lg:flex-row m-6 items-center mx-auto">

    <!-- TODO -->
    <div id="task2-todo" ondragover="onDragOver(event);" ondrop="onDrop(event, this);" class="grid w-full lg:w-1/3 h-64 bg-base-300 rounded-box place-items-center m-4 overflow-auto">
        
        <div id="task2-sub1" draggable="true" ondragstart="onDragStart(event);" class="bg-base-100 p-2 m-5 rounded-box cursor-pointer w-4/5 text-center whitespace-nowrap">
            Subtask 1
        </div> 

        <div id="task2-sub2" draggable="true" ondragstart="onDragStart(event);" class="bg-base-100 p-2 m-5 rounded-box cursor-pointer w-4/5 text-center whitespace-nowrap">
            Subtask 2
        </div>  

        <div id="task2-sub3" draggable="true" ondragstart="onDragStart(event);" class="bg-base-100 p-2 m-5 rounded-box cursor-pointer w-4/5 text-center whitespace-nowrap">
            Subtask 3
        </div> 

        <div id="task2-sub4" draggable="true" ondragstart="onDragStart(event);" class="bg-base-100 p-2 m-5 rounded-box cursor-pointer w-4/5 text-center whitespace-nowrap">
            Subtask 4
        </div> 
        
    </div>

    <!-- IN PROGRESS -->
    <div id="task2-progress" ondragover="onDragOver(event);" ondrop="onDrop(event, this);" class="grid w-full lg:w-1/3 h-64 bg-base-300 rounded-box place-items-center m-4 overflow-auto">
    </div>

    <!-- DONE -->
    <div id="task2-done" ondragover="onDragOver(event);" ondrop="onDrop(event, this);" class="grid w-full lg:w-1/3 h-64 bg-base-300 rounded-box place-items-center m-4 overflow-auto">
    </div>

</div>

{% else %}
<p class="font-bold leading-tight text-4xl mt-6 ml-6">No active sprint, start a <a class="link" href="{{ url_for('backlog', _anchor='createSprint' )}}">new one</a></p>

{% endif %}

{% endblock %}

{% block footer_link %}
<script src="{{ url_for('static', filename='script/sprint-js.js') }}"></script>
{% endblock %}