{% extends 'base.html' %} {% block title %}Sprint{% endblock %}
{% block head %}
<!-- JQuery -->
<script src="{{ url_for('static', filename='lib/jquery-3.6.0.js') }}"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="{{ url_for('static', filename='script/sprint.js') }}"></script>
{% endblock %}
{% block body %} {% if current_sprint != None %}
<h1 class="font-bold leading-tight text-3xl mt-6 ml-6">
	Active Sprint:
	<span class="italic"
		>{{ current_sprint.name }} ({{current_sprint.start_date}} /
		{{current_sprint.end_date}})</span
	>
</h1>

{% for task in sprint_task %}

<div
	class="collapse w-full overflow-visible collapse-arrow hover:ml-2 transform duration-300"
>
	{% if loop.first%}
	<input type="checkbox" checked />
	{% else %}
	<input type="checkbox" />
	{% endif %}

	<div class="collapse-title">
		<!-- Task -->
		<h2 class="font-medium leading-tight text-2xl mt-6 ml-6">
			{% if task.status == 'TODO' %}
			<span class="badge badge-error">{{task.status}}</span>
			{% elif task.status == 'INPROGRESS' %}
			<span class="badge badge-warning">{{task.status}}</span>
			{% elif task.status == 'DONE' %}
			<span class="badge badge-success">{{task.status}}</span>
			{% endif %} {{ task.name }}:

			<span class="text-lg">{{ task.description }}</span>
		</h2>
	</div>

	<div class="collapse-content">
		{% if task.subtasks|length > 0 %}
		<div class="flex flex-col lg:w-full lg:flex-row m-6 items-center mx-auto">
			<!-- TODO -->
			<div
				class="flex flex-col w-full lg:w-1/3 h-64 bg-red-700 bg-opacity-25 rounded-box place-items-center m-4 overflow-auto"
			>
				<h3 style="padding: 10px; font-weight: bold; font-size: 1.2em">
					TO DO
				</h3>
				<div
					id="task{{ loop.index }}-todo"
					status="TODO"
					class="w-full h-full flex flex-col items-center gap-2"
				>
				{% for subtask in task.subtasks %}
					{% if subtask.status == 'TODO' %}
					<div
						id="{{subtask.id}}"
						class="bg-base-100 p-5 rounded-box cursor-pointer w-4/5 text-center whitespace-nowrap"
					>
						{{subtask.name}}
					</div>
					{% endif %}
				{% endfor %}
				</div>
			</div>
			
			<!-- IN PROGRESS -->
			<div
				class="flex flex-col w-full lg:w-1/3 h-64 bg-yellow-700 bg-opacity-25 rounded-box place-items-center m-4 overflow-auto"
			>
			<h1 style="padding: 10px; font-weight: bold; font-size: 1.2em">
				IN PROGRESS
			</h1>
				<div
					id="task{{ loop.index }}-progress"
					status="INPROGRESS"
					class="w-full h-full flex flex-col items-center gap-2"
				>
				{% for subtask in task.subtasks %}
					{% if subtask.status == 'INPROGRESS' %}
					<div
						id="{{subtask.id}}"
						class="bg-base-100 p-5 rounded-box cursor-pointer w-4/5 text-center whitespace-nowrap"
					>
						{{subtask.name}}
					</div>
					{% endif %}
				{% endfor %}
				</div>
			</div>

			<!-- DONE -->
			<div class="flex flex-col w-full lg:w-1/3 h-64 bg-emerald-700 bg-opacity-25 rounded-box place-items-center m-4 overflow-auto">
				<h3 style="padding: 10px; font-weight: bold; font-size: 1.2em">
					DONE
				</h3>
				<div
					id="task{{ loop.index }}-done"
					status="DONE"
					class="w-full h-full flex flex-col items-center gap-2"
				>
				{% for subtask in task.subtasks %}
					{% if subtask.status == 'DONE' %}
					<div
						id="{{subtask.id}}"
						class="bg-base-100 p-5 rounded-box cursor-pointer w-4/5 text-center whitespace-nowrap"
					>
						{{subtask.name}}
					</div>
					{% endif %}
				{% endfor %}
				</div>
			</div>
			</div>
			{% else %}
				<h1>Non ci sono ancora subtask</h1>
			{% endif %}
		</div>
	</div>

	{% if not loop.last %}
	<div class="divider"></div>
	{% endif %}

	<script>
		$("#task{{ loop.index }}-todo, #task{{ loop.index }}-progress, #task{{ loop.index }}-done").sortable({
			connectWith: "#task{{ loop.index }}-todo, #task{{ loop.index }}-progress, #task{{ loop.index }}-done",
			revert: true,
			cursor: "move",
			scrollSpeed: 5,
			receive: function(event, ui) {
				updateSubtask(ui.item.attr('id'), event.target.getAttribute('status') )
			},
		});
	</script>

	{% endfor %} {% else %}

	<p class="font-bold leading-tight text-4xl mt-6 ml-6">
		No active sprint, start a
		<a class="link" href="{{ url_for('backlog', _anchor='createSprint' )}}"
			>new one</a
		>
	</p>

	{% endif %} {% endblock %}
</div>
