{% extends 'base.html' %}

{% block title %}Backlog{% endblock %}

{% block body %}
<div class="container mx-auto p-8">
    <div id="pageTop">
        <div class="grid grid-cols-2 gap-2">
            <div class="place-self-end items-center text-right inline-block align-middle">
                <button class="p-2 bg-secondary rounded-lg transition ease-in-out delay-10 hover:-translate-y-1 hover:scale-110 hover:bg-primary duration-50">
                    Close Sprint
                </button>
                <p class="m-3">Total point: <span class="w-auto h-auto py-1 px-2 rounded bg-info text-info-content py-auto my-auto text-center inline-block align-middle">40</span></p>
            </div>
        </div>

        <div id="currentSprint">
            <p class="text-2xl p-4">Sprint</p>
            <div class="p-4 mx-1 bg-base-200 rounded-lg">
                <div class="mb-2" style="display: flex; flex-direction: row; align-items: center;">
                    <span class="py-1 px-2 rounded-lg bg-primary text-primary-content" class="bg-info">Active</span>
                    <span class="px-2 text-xl">{{current_sprint.name}}  ({{current_sprint.start_date}} / {{current_sprint.end_date}})</span>
                    
                    <div style="margin-left: auto;"></div>
                    <div class="avatar-group -space-x-6">
                        <div class="avatar">
                            <div class="w-9">
                                <img src="https://api.lorem.space/image/face?hash=53273" />
                            </div>
                        </div>
                        <div class="avatar">
                            <div class="w-9">
                                <img src="https://api.lorem.space/image/face?hash=91831" />
                            </div>
                        </div>
                        <div class="avatar">
                            <div class="w-9">
                                <img src="https://api.lorem.space/image/face?hash=27312" />
                            </div>
                        </div>
                        <div class="avatar">
                            <div class="w-9">
                                <img src="https://api.lorem.space/image/face?hash=26448" />
                            </div>
                        </div>
                    </div>
                </div>
                {% for task in sprint_task %}
                    <div class="p-2 mb-1 base-100 rounded bg-base-100 border-solid border-2 border-primary my-0" id="card">
                        <a href="#modalInfo{{task.id}}">
                            <div class=" grid grid-cols-2">
                                <div class=" text-left align-middle">
                                    <span class="w-auto inline-block align-middle">{{task.name}}</span>
                                </div>
                                <div class="flex justify-end">
                                    <span class="w-auto h-auto py-1 px-2 rounded bg-secondary py-auto my-auto text-center inline-block align-middle">{{task.epic}}</span>
                                    <span class="mx-2 my-auto inline-block align-middle">{{task.id}}</span>
                                    <img class="mx-2 flex justify-end inline-block align-middle h-8 w-8 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""/>
                                    <span class="w-auto h-auto py-1 px-2 rounded bg-info text-info-content py-auto my-auto text-center inline-block align-middle">{{task.fibonacci_points}}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            
        </div>
    </div>

    <div id="pageBottom" class="mt-4">

        <div class="my-2 grid grid-cols-2 gap-2">
            <div>
                <p class="text-2xl p-4 mb-0">Backlog<br><span class="text-base">{{tasks|selectattr('sprint', 'none')|list|length}} issues</span></p>
                <span></span>
            </div>
            <div class="place-self-end items-center text-right inline-block align-middle">
                <a href="#modalNewTask">
                    <button class="p-2 bg-secondary rounded-lg transition ease-in-out delay-10 hover:-translate-y-1 hover:scale-110 hover:bg-primary duration-50">
                        Add Task
                    </button>
                </a>
            </div>
        </div>

        
        <div id="currentSprint">
            {% for task in backlog_task %}
                <div class="p-2 mb-1 base-100 rounded bg-base-100 border-solid border-2 border-primary my-0" id="card">
                    <a href="#modalInfo{{task.id}}">
                        <div class=" grid grid-cols-2">
                            <div class=" text-left align-middle">
                                <span class="w-auto inline-block align-middle">{{task.name}}</span>
                            </div>
                            <div class="flex justify-end">
                                <span class="w-auto h-auto py-1 px-2 rounded bg-secondary py-auto my-auto text-center inline-block align-middle">{{task.epic}}</span>
                                <span class="mx-2 my-auto inline-block align-middle">{{task.id}}</span>
                                <img class="mx-2 flex justify-end inline-block align-middle h-8 w-8 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""/>
                                <span class="w-auto h-auto py-1 px-2 rounded bg-info text-info-content py-auto my-auto text-center inline-block align-middle">{{task.fibonacci_points}}</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- MODAL -->

{% for task in tasks %}
<div class="modal" id="modalInfo{{task.id}}">
    <form class="modal-box w-100" name="taskChanged" action="backlog" method="post">
        <input type="hidden" name="idTaskToDelete" value="{{ task.id }}"/>
        <a href="#" class="btn btn-sm btn-circle absolute btn-error right-2 top-2">✕</a>
        <h3 class="font-bold text-lg">{{task.name}} - {{task.id}}</h3>
        <p class="py-4">{{task.description}}</p>
        <p class="">
            Assigned to:  
            <select class="mt-2 select select-primary w-auto max-w-xs">
                <option>Federico De Duro</option>
                <option>Paolo Zanotti</option>
                <option>Matteo Soldini</option>
            </select><br>
            Reported by: 
            <select class="mt-2 select select-primary w-auto max-w-xs">
                <option>Federico De Duro</option>
                <option>Paolo Zanotti</option>
                <option>Matteo Soldini</option>
            </select><br><br>
            Fibonacci points:
            <input type="range" min="0" max="8" value="{{task.fibonacciPoints}}" class="range range-xs range-primary" step="1" />
            <div class="w-full flex justify-between text-xs px-2">
                <span>0</span>
                <span>0.5</span>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>5</span>
                <span>8</span>
                <span>13</span>
                <span>21</span>
            </div>
            <br>
        </p>
        <div class="grid grid-cols-2">
            <div>
                <p class="mt-1">Subtask:</p>
                <ul class="ml-6 list-disc">
                    <li>Subtask 1</li>
                    <li>Subtask 2</li>
                    <li>Subtask 3</li>
                </ul>
            </div>
            <div>
                <p class="mb-2">Epic:</p>
                <span class="w-auto h-auto py-1 px-2 rounded bg-secondary py-auto my-auto text-center inline-block align-middle">{{task.epic}}</span>
            </div>
        </div>
        <div class="modal-action">
            <button class="btn btn-error" name="task-delete" type="submit">Delete</button> 
            <button class="btn btn-primary" name="task-changed" type="submit">Save and close</button> 
        </div>
        </form>     
    </div>
{% endfor %}
            
<div class="modal" id="modalNewTask">
    <form class="modal-box w-100" id="create-new-task-form" action="backlog" method="post">
        <a href="#" class="btn btn-sm btn-circle absolute btn-error right-2 top-2">✕</a>
        <div class="mb-2 form-control w-full max-w-xs">
            <input type="text" name="name" placeholder="Task name" class="input input-bordered w-full max-w-xs" />
        </div>

        <div class="mb-2 form-control w-full max-w-xs">
            <input type="text" name="description" placeholder="Task description" class="input input-bordered w-full max-w-xs" />
        </div>

        <div class="m-2 form-control w-full max-w-xs">
            Fibonacci points:</p>
            <input type="range" min="0" max="8" value="1" class="range range-xs range-primary" step="1" />
            <div class="w-full flex justify-between text-xs px-2">
                <span>0</span>
                <span>0.5</span>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>5</span>
                <span>8</span>
                <span>13</span>
                <span>21</span>
            </div>
        </div>

        <div class="mb-2 form-control w-full max-w-xs">
            <label class="label">
                <span class="mb-0 label-text">Epic:</span>
            </label>  
            <select class="mt-2 select select-primary w-auto max-w-xs">
                <option>Maintenance</option>
                <option>New product</option>
            </select><br>
        </div>

        <div class="mt-0 modal-action">
            <button class="btn btn-primary" name="create-new-task" type="submit">Add new task</button>
        </div>
    </form>
</div>

{% endblock %} 