{% extends 'base.html' %}

{% block title %}Backlog{% endblock %}

{% block body %}
<div class="container mx-auto p-8">
    <div id="pageTop">
        <div id="currentSprint">
            <div class="grid grid-cols-2">
                <div>
                    <p class="text-2xl p-4">Sprint</p>
                </div>
                <div class="place-self-end items-center text-right inline-block align-middle">
                    <p class="m-3">Total points: <span class="w-auto h-auto py-1 px-2 rounded bg-info text-info-content py-auto my-auto text-center inline-block align-middle">{{total_points_of_sprint}}</span></p>
                </div>
            </div>
            <div class="p-4 mx-1 bg-base-200 rounded-lg">
                <div class="mb-2" style="display: flex; flex-direction: row; align-items: center;">
                    {% if current_sprint != None %}
                    <span class="py-1 px-2 rounded-lg bg-primary text-primary-content" class="bg-info">Active</span>
                    <span class="px-2 text-xl">{{current_sprint.name}}  ({{current_sprint.start_date}} / {{current_sprint.end_date}})</span>
                    {% if is_closable == 0 %}
                    <span class="px-2 text-base">All Tasks are done! Do you want to close the sprint?</span>
                    {% endif %}
                    <a href="#change-sprint"><i class="mx-2 fa-solid fa-pencil"></i></a>
                    {% else %}
                    <span class="py-1 px-2 rounded-lg bg-error text-error-content" class="bg-info">No active sprint</span>
                    {% endif %}
                    
                    
                    <div style="margin-left: auto;"></div>
                    <div class="avatar-group -space-x-6">
                        {% for developer in developer %}
                            <div class="avatar">
                                <div class="w-9">
                                    <img src="static/img/users/{{ developer.url_profile_image }}.jpg"/>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% if current_sprint != None %}
                {% for task in sprint_task %}
                    <div class="p-2 mb-1 base-100 rounded bg-base-100 border-solid border-2 border-primary my-0" id="card">
                        <a href="#modalInfo{{task.id}}">
                            <div class=" grid grid-cols-2">
                                <div class=" text-left align-middle">
                                    <span class="w-auto inline-block align-middle">
                                        <span class="w-auto h-auto py-1 px-2 rounded 
                                        {% if task.status == 'TODO'%}
                                        bg-error text-error-content 
                                        {% elif task.status == 'INPROGRESS'%}
                                        bg-warning text-warning-content
                                        {% elif task.status == 'DONE'%}
                                        bg-success text-success-content
                                        {% endif %}
                                        py-auto my-auto text-center inline-block align-middle">{{ task.status }}</span>
                                        {{task.name}}
                                    </span>
                                </div>
                                <div class="flex justify-end">
                                    <span class="w-auto h-auto py-1 px-2 rounded bg-secondary text-secondary-content py-auto my-auto text-center inline-block align-middle">{{ task.epics_name}}</span>
                                    <span class="mx-2 my-auto inline-block align-middle">{{task.id}}</span>
                                    {% if task.monitorer != None %}
                                    <img class="mx-2 flex justify-end inline-block align-middle h-8 w-8 rounded-full ring-2 ring-white" src="/static/img/users/profile{{task.monitorer}}.jpg" alt=""/>
                                    {% else %}
                                    <img class="mx-2 flex justify-end inline-block align-middle h-8 w-8 rounded-full ring-2 ring-white" src="/static/img/users/none.jpg" alt=""/>
                                    {% endif %}
                                    <span class="w-auto h-auto py-1 px-2 rounded bg-info text-info-content py-auto my-auto text-center inline-block align-middle">{{task.fibonacci_points}}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                {% endif %}

                {% if current_sprint != None %}
                <form class="mt-3" action="backlog" method="POST">
                    <a href="#closeSprint">Close sprint ({{days_remaning}} days remaining)</a>
                </form>
                {% else %}
                <form class="mt-3" action="backlog" method="POST">
                    <a href="#createSprint">Create sprint</a>
                </form>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="pageBottom" class="mt-4">

        <div class="my-2 grid grid-cols-2 gap-2">
            <div>
                <p class="text-2xl p-4 mb-0">Backlog<br><span class="text-base">{{tasks|selectattr('sprint', 'none')|list|length}} issues</span></p>
                <span></span>
            </div>
            <div class="place-self-end items-center text-right inline-block align-middle">
                <a href="#modalNewTask">
                    <button class="p-2 bg-secondary text-secondary-content rounded-lg transition ease-in-out delay-10 hover:-translate-y-1 hover:scale-110 hover:bg-primary duration-50">
                        Add Task
                    </button>
                </a>
            </div>
        </div>

        
        <div id="currentSprint">
            {% for task in backlog_task %}
                <div class="p-2 mb-1 base-100 rounded bg-base-100 border-solid border-2 border-primary my-0" id="card">
                    <a href="#modalInfo{{task.id}}">
                        <div class=" grid grid-cols-2">
                            <div class=" text-left align-middle">
                                <span class="w-auto inline-block align-middle">
                                    <span class="w-auto h-auto py-1 px-2 rounded 
                                    {% if task.status == 'TODO'%}
                                    bg-error text-error-content 
                                    {% elif task.status == 'INPROGRESS'%}
                                    bg-warning text-warning-content
                                    {% elif task.status == 'DONE'%}
                                    bg-success text-success-content
                                    {% endif %}
                                    py-auto my-auto text-center inline-block align-middle">{{ task.status }}</span>
                                    {{task.name}}
                                </span>
                            </div>
                            <div class="flex justify-end">
                                <span class="w-auto h-auto py-1 px-2 rounded bg-secondary text-secondary-content py-auto my-auto text-center inline-block align-middle">{{task.epic}}</span>
                                <span class="mx-2 my-auto inline-block align-middle">{{task.id}}</span>
                                {% if task.monitorer != None %}
                                <img class="mx-2 flex justify-end inline-block align-middle h-8 w-8 rounded-full ring-2 ring-white" src="/static/img/users/profile{{task.monitorer}}.jpg" alt=""/>
                                {% else %}
                                <img class="mx-2 flex justify-end inline-block align-middle h-8 w-8 rounded-full ring-2 ring-white" src="/static/img/users/none.jpg" alt=""/>
                                {% endif %}
                                <span class="w-auto h-auto py-1 px-2 rounded bg-info text-info-content py-auto my-auto text-center inline-block align-middle">{{task.fibonacci_points}}</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- MODAL -->

{% for task in tasks %}
<div class="modal" id="modalInfo{{task.id}}">
    <form class="max-w-3xl modal-box w-100" name="taskChanged" action="backlog" method="post">
        <input type="hidden" name="idTask" value="{{ task.id }}"/>
        <a href="#" class="btn btn-sm btn-circle absolute btn-error right-2 top-2">✕</a>
            <select name="status" class="py-auto my-auto inline-block align-middle select select-secondary text-base-content w-full max-w-xs
                {% if task.status == 'TODO'%}
                select-error">
                    <option>TODO</option>
                    <option>INPROGRESS</option>
                    <option>DONE</option>
                {% elif task.status == 'INPROGRESS'%}
                select-warning">
                <option>INPROGRESS</option>
                <option>DONE</option>
                <option>TODO</option>
                {% elif task.status == 'DONE'%}
                select-success">
                <option>DONE</option>
                <option>INPROGRESS</option>
                <option>TODO</option>
                {% endif %}
            </select>

        <div class="form-control">
            <label class="label">
                <span class="mt-2 label-text">Task title:</span>
            </label> 
            <input type="text" name="name" value="{{task.name}}" class="input input-bordered input-primary w-full max-w-xs" />
        </div>

        <div class="form-control">
            <label class="label">
                <span class="mt-2 label-text">Description:</span>
            </label> 
            <textarea class="textarea textarea-primary" name="description">{{task.description}}</textarea>
        </div>

        <p class="">
            Assigned to:  
            <select class="mt-2 select select-primary w-auto max-w-xs">
                <option>{{ task.monitorer_name }} {{ task.monitorer_name }}</option>
                {% for developer in developer %}
                    <option>{{ developer.name }} {{ developer.surname }}</option>
                {% endfor %}
            </select><br>
            Reported by: <span class="my-2 w-auto h-auto py-1 px-2 rounded bg-secondary text-secondary-content py-auto my-auto text-center inline-block align-middle">Nome reporter</span>
            <br>Fibonacci points:
            <input id="fibonacci_points_info" type="range" min="0" max="8" value="{{task.fibonacci_points}}" class="range range-xs range-primary" step="1" />
            <div class="w-full flex justify-between text-xs px-2">
                <span>0</span>
                <span>0.5</span>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>5</span>
                <span>8</span>
                <span>13</span>
                <span>21</span>
            </div>
            <br>
        </p>
        <div class="grid grid-cols-2">
            <div>
                <p class="mt-1">Subtask:</p>
                <ul class="ml-6 list-disc">
                    <li>Subtask 1</li>
                    <li>Subtask 2</li>
                    <li>Subtask 3</li>
                </ul>
            </div>
            <div>
                <p class="mb-2">Epic:</p>
                <span class="w-auto h-auto py-1 px-2 rounded bg-secondary text-secondary-content py-auto my-auto text-center inline-block align-middle">{{task.epic}}</span>
            </div>
        </div>
        <div class="modal-action">
            <button class="btn btn-error text-base-content" name="task-delete" type="submit">Delete</button>
            {% if task.sprint == None %}
                <button class="btn btn-info text-base-content" name="task-move-in-sprint" type="submit">Move in sprint</button> 
            {% else %}
                <button class="btn btn-info text-base-content" name="remove-from-sprint" type="submit">Remove from sprint</button> 
            {% endif %}
            <button class="btn btn-primary text-base-content hover:text-primary-content" name="task-changed" type="submit">Save and close</button> 
        </div>
    </form>     
</div>
{% endfor %}
            
<div class="modal" id="modalNewTask">
    <form class="modal-box w-100 px-8" id="create-new-task-form" action="backlog" method="post">
        <a href="#" class="btn btn-sm btn-circle absolute btn-error right-2 top-2">✕</a>
        <h3 class="mb-2 font-bold text-lg">New task</h3>
        <div class="mb-2 form-control w-full max-w-xs">
            <input type="text" name="name" placeholder="Task name" class="input input-bordered w-full max-w-xs" />
        </div>

        <div class="mb-2 form-control w-full max-w-xs">
            <input type="text" name="description" placeholder="Task description" class="input input-bordered w-full max-w-xs" />
        </div>

        <input type="hidden" name="signaler" value="1"/> <!-- ID DELL'Utente in sessione-->
        
        <div class="m-2 form-control w-full max-w-xs">
            Fibonacci points:</p>
            <input name="fibonacci_points" type="range" min="0" max="8" value="0" class="range range-xs range-primary" step="1" />
            <div class="w-full flex justify-between text-xs px-2">
                <span>0</span>
                <span>0.5</span>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>5</span>
                <span>8</span>
                <span>13</span>
                <span>21</span>
            </div>
        </div>

        <div class="mb-2 form-control w-full max-w-xs">
            <label class="label">
                <span class="mb-0 label-text">Epic:</span>
            </label>  
            <select name="epic" class="mt-2 select select-primary w-auto max-w-xs">
                {% for epics in epics %}
                <option value="{{epics.id}}">{{ epics.name }}</option>
                {% endfor %}
            </select><br>
        </div>

        <div class="mt-0 modal-action">
            <button class="btn btn-primary" name="create-new-task" type="submit">Add new task</button>
        </div>
    </form>
</div>

<div class="modal" id="closeSprint">
    <form class="modal-box w-100" name="taskChanged" action="backlog" method="post">
        <h3 class="font-bold text-lg">Are you sure?</h3>
        {% if is_closable != 0 %} <!-- Ci sono task ancora in progress / to do e si vuole chiudere lo sprint -->
        <p class="py-4">By closing the sprint, all activities will go into "DONE" status</p>
        {% endif %}
        <div class="modal-action">
            <a class="btn btn-error" href="#">Back</a>
            <button class="btn btn-warning" name="close-sprint" type="submit">Close sprint</button>
        </div>
    </form>     
</div>

<div class="modal" id="createSprint">
    <form class="modal-box w-100" name="taskChanged" action="backlog" method="post">
        <h3 class="font-bold text-lg">New Sprint</h3>
        
        <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Sprint name:</span>
            </label>
            <input type="text" name="name" placeholder="Sprint name" class="input input-bordered w-full max-w-xs" />
        </div>

        <div class="w-100 w-full">
            <div class="grid grid-cols-2">
                <div class="mx-2">
                    <label class="label">
                        <span class="label-text">Date start:</span>
                      </label>
                      <input type="date" name="date_start" class="input input-bordered w-full max-w-xs" />
                </div>
                <div class="mx-2">
                    <label class="label">
                        <span class="label-text">Date end:</span>
                      </label>
                      <input type="date" name="date_end" class="input input-bordered w-full max-w-xs" />
                </div>
            </div>
        </div>
        <div class="modal-action">
            <a class="btn btn-error" href="#">Back</a>
            <button class="btn btn-success" name="create-sprint" type="submit">Create sprint</button>
        </div>
    </form>     
</div>

{% if current_sprint != None %}
<div class="modal" id="change-sprint">
    <form class="modal-box w-100" name="taskChanged" action="backlog" method="post">
        
        <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Sprint name:</span>
            </label>
            <input type="text" name="name" value="{{ current_sprint.name }}" class="input input-bordered w-full max-w-xs" />
        </div>

        <div class="w-100 w-full">
            <div class="grid grid-cols-2">
                <div class="mx-2">
                    <label class="label">
                        <span class="label-text">Date start:</span>
                      </label>
                      <input type="date" name="date_start" value="{{ current_sprint.start_date }}" class="input input-bordered w-full max-w-xs" />
                </div>
                <div class="mx-2">
                    <label class="label">
                        <span class="label-text">Date end:</span>
                      </label>
                      <input type="date" name="date_end" value="{{ current_sprint.end_date }}" class="input input-bordered w-full max-w-xs" />
                </div>
            </div>
        </div>

        <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Task in sprint:</span>
            </label>
            <ul class="ml-8 list-disc">
                {% for sprint_task in sprint_task %}
                <li>{{ sprint_task.name }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="modal-action">
            <a class="btn btn-error" href="#">Back</a>
            <button class="btn btn-info text-base-content" name="update-sprint" type="submit">Update sprint</button>
        </div>
    </form>     
</div>
{% endif %}

{% endblock %} 